@import 'colors.css';
* {
  transition: none;
  box-shadow: none;
  font-family: "JetBrainsMono";
  font-size: 12.5px;
  color: @on_background;
}

#waybar {
  margin-top: 14px;
  background: @background;
  border-radius: 10px;
  border: 2px solid @outline;
}

#workspaces {
  margin: 0 3px;
  color: @scrim;
}

#workspaces button {
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button.visible {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: @error;
}

#workspaces button.focused {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: @source_color;
}

#workspaces button.active {
  margin: 3px 2px;
  border-radius: 12px;
  background: @source_color;
}

#workspaces button:hover {
  color: @textcolor1;
  background: @source_color;
  border-radius: 15px;
}

#workspaces button.urgent {
  border-radius: 10px;
}

#workspaces button.urgent * {
  color: rgba(246,71,71,0.8);
}

#tray {
  margin: 3px 2px;
  border-radius: 12px;
  background-color: @surface_container;
}

#tray * {
  padding: 0 6px;
  margin: 3px 2px;
}

#tray *:first-child {
  border-left: none;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#bluetooth, #custom-wlsunset, #custom-expand-icon, #mode, #battery, #idle_inhibitor, #cpu, #disk, #memory, #network, #pulseaudio,  #backlight, #mpd, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpd *{
  min-width: 10px;
  font-size: 11px;
  font-family: "JetBrainsMono";
}

#custom-power{
  margin: 4px 5px 4px 1px;
  padding: 0 6px;
  background-color: @inverse_on_surface;
  border-radius: 10px;
  min-width: 15px;
}

#custom-recorder, #custom-audiorec {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @error;
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  background-color: @on_secondary;
  border-radius: 10px;
  min-width: 15px;
}

#temperature.critical {
  color: @on_error;
}
